[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv = "*"
pyjwt = "*"
boto3 = "*"
pydantic = "*"
uvicorn = "*"
numpy = "*"
np = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
